.workHeader{
    display: flex;
}
.workHeader span{
    width: 49px;
    height: auto;
}
.workHeader img{
/* margin-right: 18px; */
}
.workHeader h3{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin: 0px 8px;
    text-align: center;
    padding-top: 8px;
}
.howit-work-card p{
  font-size: 12px;
    line-height: 18px;
    color: #666;
    text-align: start;
    margin: 1em;
}

.container1{
    max-width:1240px;
    margin:   0 auto;
}
 .bg2{
  background-color: #ddf5ff;
}
.bg2 img{
  width: 70px;
  height: 70px;
}
.bg3{
  background-color: #fff6e7;
}
.tile{
  padding: 16px 24px;
  border-radius: 12px;
  /* position: relative; */
  overflow: hidden;
  transition: all .3s linear;
  
}

.btn{
  box-shadow: 0 10px 30px 0 rgba(0,0,0,.1);
    background-color: #fbfffd;
    font-size: 13px;
    line-height: 12px;
    color: #111112;
    font-weight: 600;
    transition: .3s;
}
.sideImage{
  /* position: absolute;
    bottom: 0;
    right: 0; */
}
/* 
.progress-container {
    width: 100%;
    background-color: #f1f1f1;
    margin-bottom: 10px;
  }

  .progress-bar {
    height: 10px;
    background-color: #4caf50;
    width: 0;
  } */

  .card-container {
    display: flex;
    justify-content: space-around;
  }

  .card {
    /* padding: 20px; */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
   
    
  }
  .cardpop{
    transition: .3s;
    cursor: pointer;
    /* width: 310px;
    height: 380px; */
  }
.cardpop:hover{
  transform: scale(1.1);
}





  .grid-box {
    display: grid;
    grid-template-columns: repeat(6, 190px);
    grid-template-rows: repeat(2, 185px);
    margin-left: 100px;
    /* gap: 10px;  */
  }
  /* .grid-box2{
    display: flex;
    justify-content: center;
    align-items: center;
   
  } */

  .grid-item {
    border: solid 1px #e6e6e6;
    /* position: relative; */
    /* overflow: hidden; */
    height: 185px;
    transition: .3s;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
  }
  .grid-item:hover{
    transform: scale(1.1);
  }
  figure img{
    width: 65px;
    height: 65px;
  }
  .newServiceBox a{
    color: #333;
    text-decoration: none;
    font-size: 14px;
  }
  .insightTools{
    margin: 100px auto;
  }
  .insightToolsText{
    text-align: center;
  }
  .insightToolsText h2{
    font-size: 26px;
    line-height: 22px;
    /* color: #333; */
  }
  .insightToolsText h3{
    margin-bottom: 20px;
    font-size: 16px;
    text-align: center;
    display: block;
  }
  
  .single-row-grid {
    display: grid;
    grid-template-columns: repeat(6, 190px);
    /* gap: 10px; Adjust the gap as needed */
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .custom-box {
    border: solid 1px #e6e6e6;
    /* position: relative; */
    overflow: hidden;
    width: 190px;
    height: 185px;
    transition: .3s;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Add hover effect to each box */
  .custom-box:hover {
    transform: scale(1.1);
  }
  .location-card{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    /* padding: 12px 15px 0; */
    height: 225px;
    width: 370px;
    border-radius: 8px;
    border: 1px solid #e8e8e8;
    /* box-shadow: 0 0 14px 0 rgba(0,0,0,.06); */
  }
  .prop{
     display:flex
  }
  .starRating i{
    color: gold;
  }
  .topheader{
    display: flex;
    border-bottom: 1px solid #e8e8e8;
    padding: 15px;
    min-height: 72px;
    
  }
  .cardSec{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    padding: 15px;
  }
  
.btnBox{
  background: #ffde81;
    color: #916c00;
    width: 100%;
}
.otherService{
  margin-left: 100px;
}
.estateDev{
  height: 440px;
  display:flex;
  border: 1px solid #f5f5f5;
}
.estateBox{
  display: flex;
  align-items: end;
  flex: 1;
  background: #f8fbff;
  border: 1px solid #f5f5f5;
  padding: 50px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.estatelid h2{
  /* width: 450px;
  height: 315px; */
  margin-bottom: 40px;
    font-size: 26px;
    color: #333;
    line-height: 22px;
    text-align: center;
}
.estateBoxinner{
  background-color: #ddf5ff;
  padding: 16px 24px;
  border-radius: 12px;
  display: flex;
  
}
#agent{
  background-color: white;
}
.agentinner{
  background-color: #fff6e7;
  padding: 16px 24px;
  border-radius: 12px;
  display: flex;
}
.estateimg{
  position: relative; /* Ensure relative positioning for absolute positioning of the image */
  overflow: hidden;
}
.estateimg img{
  width: 100%;
  height: 100%;
   object-fit: contain;
  /* position: absolute; */
  /* top: 0;
  left: 0; */
}
#agentimg{
  margin-left: 50px;
}
.estateBoxinner ul{
  margin: 16px 0 15px;
  list-style: none;

}
.estateBoxinner ul li{
  padding-left: 26px;
  margin-bottom: 4px;
  font-size: 13px;
  max-width: 320px;
  line-height: 21px;
  letter-spacing: .1px;
  color: #484848;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.estateBoxinner .btn{
  padding: 10px 21px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  margin-left: 25px;
  
}
.PropVR{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-left: 30px;
 /* padding-left: 30px; */
}

.PropVR h3{
  color: #181b30;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  text-align: center;
  
}
.PropVR span{
  height: 3px;
  background-color: #181b30;
  width: 50px;
}
#agentClr span{
  height: 3px;
  background-color: #f2b196;
  width: 50px;
}
.agent{
  flex: 1;
}
.titleHead{
  display: flex;
  margin-left: 25px;
  
}
.titleHead img{
  max-width: 70px;
    max-height: 70px;
}



@media only screen and (max-width: 767px) {
  .insightTools{

  }
 
  .grid-box {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(4, 185px);
    overflow: scroll;
    margin-left: 0px;
    /* gap: 10px;  */
  }
  .single-row-grid {
    display: grid;
    grid-template-rows: repeat(3, 190px);
    grid-template-columns: repeat(2, 190px);
    /* gap: 10px; Adjust the gap as needed */
    /* margin: 0 auto; */
    margin-bottom: 100px;
    overflow: scroll;
    margin-left: 60px;
  }
  .insightToolsText h2{
    font-size: 20px;
    line-height: 22px;
    /* color: #333; */
  }
  .insightToolsText h3{
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
    display: block;
  }
  .otherService{
    margin-left: 20px;
  }
  .estateDev{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
  }
  .container{
    margin-top: 200px;
  }
} 